* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Trebushet, sans-serif;
}
a{
	color: #a0294c;
	text-decoration: none;
}
form{
	display: flex;
	flex-direction: column;
	width: 400px;
}
input{
	margin: 10px 0;
	padding: 10px;
	border: unset;
	border-bottom: 2px solid #e3e3e3;
    outline: none;
    cursor: pointer;
}
p{
	margin: 10px 0;
}
#errorLogin, #errorPassword, #error, #errorName, #easyPassword{
	display: none;
	font-size: 10px;
	color: red;
}
